{% extends "layout.html" %}

{% block title %}
    Buy shares
{% endblock %}

{% block main %}
    <div>
            Insert the symbol of the stock you want to buy and the amount of shares
    </div>
    <form action="/buy" method="POST">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="symbol" type="text">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="# of shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
