{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<h2>Welcome to Track50!!</h2>
<div>This tracker was designed to help you keep track of meetings with people and see if there is any cause for concern when someone you have met tests positive for Covid-19.
<br>In the menu above you can add contacts to your history, you can see your history, and in case someone you met tests positive, add this and check if they were infectious when you met!<sup>*</sup>
<br>Of course it is always best to err on the side of caution and get tested whenever you think you have been in any situation where you could have been exposed to Covid-19.
</div>
<div class="footer">*Calculation about people's infectious period based on information from: <a href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/clinical-guidance-management-patients.html">CDC</a> and <a href="https://www.health.harvard.edu/diseases-and-conditions/if-youve-been-exposed-to-the-coronavirus#:~:text=We%20know%20that%20a%20person,start%20to%20experience%20symptoms.">Harvard</a>.</div>
{% endblock %}